body{
    background: #3d494C ;
    background-size: cover;
}
.fondoform{
    background-image: url("src\assets\hqdefault.jpg") ;
    background-size: cover;
    
    background-position: center center;
}
