<div class="principal">
<div *ngFor="let i of info" class="card mb-1 card_focus card1" style="max-width: 100%; height: 100%">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="card text-white mb-3 d-flex" style="max-width: 100%; height: 20rem">
        <img src="{{i.img}}" alt="">

      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{i.nombre}}</h5>
        <p class="card-text">
        {{i.definicion}}
        </p>
        
      </div>
    </div>
  </div>
</div>