<div class="principal">
<div class="card mb-3 card_focus card1" style="max-width: 100%; height: 100%">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="card text-white mb-3 d-flex" style="max-width: 100%; height: 20rem">
        <img src="../../../assets/volumen.jpg" alt="">
       
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Volumen</h5>
        <p class="card-text">
          Es la cantidad total de trabajo realizado, ya sea en una sesión de entrenamiento,
          o semana. Normalmente en el ejercicio de fuerza se suele anotar como repeticiones por
          número de serie. Por sesión, grupo muscular o por ejercicio.
        </p>
        
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 card_focus card2" style="max-width: 100%; height: 100%">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="card text-white  mb-3 d-flex" style="max-width: 100%; height: 20rem">
        <img src="../../../assets/intensidad.jpg" alt="">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Intensidad</h5>
        <p class="card-text">
          Es una medida subjetiva de la dificultad que la actividad física implica para cada uno,
          es decir, el esfuerzo que se realiza. El nivel de esfuerzo que percibes puede ser diferente 
          al de otra persona realizando el mismo ejercicio.
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 card_focus card3" style="max-width: 100%; height: 100%">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="card text-white  mb-3 d-flex" style="max-width: 100%; height: 20rem">
                <img src="../../../assets/sobrecarga.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sobrecarga Progresiva</h5>
                <p class="card-text">
                  Cuanto más avancemos en las sesiones, notaremos que cada vez realizaremos menos esfuerzo
             ya que nuestro cuerpo se acostumbra a las cargas que lo sometemos. Ahí es donde entra este concepto. 
             Porque es una manera de ir progresando y mejorar el rendimiento, por ejemplo: <br>
            <ol>
             <li>Semana 1 (sentadilla): 4 series de 8 repeticiones con 40kg</li>
              <li>Semana 2: 4 series de 6 repeticiones con 45kg</li>
                <li>Semana 3: 4 series de 8 repeticiones con 45kg </li>
              </ol> 
              Aumentamos la intensidad (40kg🡪45kg) y reducimos el volumen (4S8R🡪4S6R), hasta que el cuerpo
              se acostumbre a la nueva carga y podamos aumentar el volumen, mejorando así el rendimiento. 
                
              </div>
            </div>
          </div>
        </div>
      </div>