<p>ejercicios works!</p>
<!--[(visible)]="ejercicioDialog"-->
<p-dialog  [style]="{ width: '450px' }" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!--<img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + ejercicio.image"  class="block m-auto pb-3" *ngIf="ejercicio.image" />-->
        <div class="field">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="ejercicios.nombre" name="ejerNombre" type="text" pInputText id="nombre"  required autofocus />
            <small class="p-error" *ngIf="submitted && !ejercicios.nombre">El nombre es obligatorio.</small>
        </div>
        <div class="field">
            <label for="grupo">Grupo Muscular</label>
            <input type="text" pInputText id="grupo" [(ngModel)]="ejercicios.grupomuscular" name ="grupmuscular" required autofocus >
            <small class="p-error" *ngIf="submitted && !ejercicios.grupomuscular">El grupo es obligatorio.</small>
        </div>
        <div class="field">
            <label for="rango">Rango de Repeticiones</label>
            <input type="text" pInputText id="rango" [(ngModel)]="ejercicios.rangorep" name="rangorep" required autofocus />
            <small class="p-error" *ngIf="submitted && !ejercicios.rangorep">El rango es obligatorio.</small>
        </div>
    </ng-template>
</p-dialog>