<p>ejercicios works!</p>
<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()">Nuevo+</button>

<p-dialog [(visible)]="ejerciciosDialog" [style]="{ width: '450px' }" header="Ejercicios" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()">Cancelar</button>
        <!--<img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + ejercicio.image"  class="block m-auto pb-3" *ngIf="ejercicio.image" />-->

        <div class="field">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="ejercicios.nombre" name="ejerNombre" type="text"  id="nombre" required autofocus>
            <small class="p-error" *ngIf="submitted && !ejercicios.nombre">El nombre es obligatorio.</small>
        </div>

        <div class="field">
            <label for="grupo">Grupo Muscular</label>
            <input type="text" id="grupo" [(ngModel)]="ejercicios.grupomuscular" name ="grupomuscular" required autofocus>
            <small class="p-error" *ngIf="submitted && !ejercicios.grupomuscular">El grupo es obligatorio.</small>
        </div>

        <div class="field">
            <label for="rango">Rango de Repeticiones</label>
            <input type="text" id="rango" [(ngModel)]="ejercicios.rangorep" name="rangorep" required autofocus>
            <small class="p-error" *ngIf="submitted && !ejercicios.rangorep">El rango es obligatorio.</small>
        </div>
    </ng-template>
</p-dialog>