<p>ejercicios works!</p>
<button pButton  label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()">Nuevo+</button>

<p-dialog [(visible)]="ejerciciosDialog" [style]="{ width: '450px' }" header="Ejercicios" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!--<img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + ejercicio.image"  class="block m-auto pb-3" *ngIf="ejercicio.image" />-->

        <div class="field">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="ejercicios.nombre" pInputText name="ejerNombre" type="text"  id="nombre" required autofocus>
            <small class="p-error" *ngIf="submitted && !ejercicios.nombre">El nombre es obligatorio.</small>
        </div>

        <div class="field">
            <label for="grupo">Grupo Muscular</label>
            <input  [(ngModel)]="ejercicios.grupomuscular" pInputText name="grupomuscular" type="text" id="grupo" required autofocus>
            <small class="p-error" *ngIf="submitted && !ejercicios.grupomuscular">El grupo es obligatorio.</small>
        </div>

        <div class="field">
            <label for="rango">Rango de Repeticiones</label>
            <input  [(ngModel)]="ejercicios.rangorep" pInputText type="text" id="rango" name="rangorep" required autofocus>
            <small class="p-error" *ngIf="submitted && !ejercicios.rangorep">El rango es obligatorio.</small>
        </div>

        <ng-template pTemplate="footer">
            <button pButton label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()">Cancelar</button>
        </ng-template>
    </ng-template>
</p-dialog>