/* ESTO HACE QUE LOS INPUTS DENTRO DEL POPUP TENGAN UN MARGEN ARRIBA */
#nombre, #grupo, #rango {
    margin-top: 2%;
}
.card{
    width: 100% ;
    height: 120% !important;
}
button{
    margin-bottom:5%;
    margin-top: 5%;
}