i{
    font-size:900%;
}
#aaaa{
    text-align: left;
    margin-top: 2%;
    margin-left: 3%;
}

.data {
    width:20%;
    padding: 2px;
    margin: 4%;
    position: relative;
    border-radius: 25px;
}
button{
    border-radius: 5px;
}