p-dialog{
    height: 70%;
}
.container1{
    margin-top: 5%;
    width: 50%;
    margin-left:10%;
}
.container2{
    margin-top:5%;
    width: 40%;
    margin-right: 5%;
}
.containers{
    display: flex;
}
#volver{
    padding-left: 1%;
    padding-top: 1%;
}