<div class="containers">
    <div class="container1">
        <h2>Crear Rutina</h2>
        <!-- CAMPO PARA INGRESAR EL NOMBRE DEL EJERCICIO -->
        <div class="field">
            <label for="nombre">Nombre</label>
            <!-- INPUT PARA INGRESAR EL NOMBRE DEL EJERCICIO -->
            <input pInputText [(ngModel)]="rutina.nombre" type="text" id="nombre" required>
            <!-- ESTO HACE QUE APAREZCA UN CARTEL DE CAMPO OBLIGATORIO AL GUARDAR -->
            <!--<small class="p-error" >El nombre es obligatorio.</small>-->
        </div>
        <br>
        <div>
            <button (click)="openNew()">aaa</button>
            <button>aaa</button>
        </div>
    </div>
    <div class="container2">
        <h2>Ejercicios Agregados</h2>
        <div class="card flex justify-content-center">
            <p-listbox [options]="rutina.ejercicios" [style]="{ width: '100%' }" [listStyle]="{'max-height': '220px'}"
                [disabled]="true"></p-listbox>
        </div>
    </div>
</div>
<!-- CAMPO PARA INGRESAR EL GRUPO MUSUCLAR DEL EJERCICIO -->
<p-dialog [(visible)]="ejerciciosDialog" [style]="{ width: '450px' }" [closable]="true" header="Seleccionar Ejercicio"
    [modal]="true" styleClass="p-fluid">
    <div class="card flex justify-content-center">
        <p-listbox [options]="rutinas" [(ngModel)]="rutina.ejercicios" [filter]="true" [style]="{ width: '100%' }" [listStyle]="{'max-height': '220px'}"></p-listbox>
        <button>aaa</button>
    </div>
</p-dialog>