<div class="footer">
    <footer>
        <div>
        <ul class="list-inline">
            <!--<li class="list-inline-item"><a routerLink="">Informacion</a></li>-->
            <li class="list-inline-item"><a routerLink="">Contacto</a></li>
            <button routerLink="/login" class = "pi pi-sign-out" (click)="salir()" mat-raised-button></button>
        </ul>
        </div>
        <p class="copyright">By: <br>
            Gauna Gabriel, Fuentes Darian, Rodriguez Brenda, Muñoz Santino,Artigas Martina</p>
        <div>
        </div>
    </footer>
</div>