<div class="footer">
    <footer>
        <div class="logo">
            <img src="../../../../assets/logo.png">
            <p>My Trainer</p>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="">Informacion</a></li>
            <li class="list-inline-item"><a routerLink="">Contacto</a></li>
        </ul>
        <p class="copyright">by: <br>
             Gauna Gabriel, Fuentes Darian, Muñoz Santino, Rodriguez Brenda, Artigas Martina</p>
    </footer>
</div>


