@media only screen and (min-width:320px) and (max-width:1920px){
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:rgb(61, 73, 76);
    color:rgb(240, 194, 126);
  }
  
  .footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer li {
    padding: 0 10px;
  }
  
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  .footer ul a:hover {
    opacity:1;
  }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color:#aaa;
    margin-bottom: 0;
  }
}