<div class="footer">
    <footer>
        <div>
            <img src="../../../../assets/logo.png" class="imagen" width="100px" height="100px">
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="">Informacion</a></li>
            <li class="list-inline-item"><a routerLink="">Contacto</a></li>
        </ul>
        </div>
        <p class="copyright">By: <br>
            Gauna Gabriel, Fuentes Darian, Muñoz Santino, Rodriguez Brenda, Artigas Martina</p>
    </footer>
</div>


