div{
    margin-left: 20%;
    margin-right: 20%;
}
#finalcard{
    margin-bottom: 8%;
}
#primeracard{
    margin-top: 2%;
}
#title{
    font-weight: 700;
    text-align: center;
    margin-top: 2%;   
    text-shadow: 2px 2px 2px rgb(208, 218, 229);
}