<div>
    <form class="form">
        <p class="title">Registrarse</p>
        <p class="message">Crea un nuevo usuario</p>
        <div class="flex">
            <label>
                <input [(ngModel)]="usuarios.nombre" required="" placeholder="" type="text" class="input">
                <span>Nombre</span>
            </label>
            <label>
                <input [(ngModel)]="usuarios.apellidos" required="" placeholder="" type="text" class="input">
                <span>Apellidos</span>
            </label>
        </div>  
        <label>
            <input [(ngModel)]="usuarios.email" required="" placeholder="" type="email" class="input">
            <span>Email</span>
        </label> 
            
        <label>
            <input [(ngModel)]="usuarios.contrasena" required="" placeholder="" type="password" class="input">
            <span>Contraseña</span>
        </label>
        <label>
            <input [(ngModel)]="usuarios.contrasena" required="" placeholder="" type="password" class="input">
            <span>Confirmar Contraseña</span>
        </label>
        <button class="submit">Crear Cuenta</button>
    </form>
    <p class="signin">Ya tienes una cuenta creada? <button routerLink="/login" class ="submit">Iniciar Sesion</button></p>
</div>