  
        <form class="form">
            <p class="title">Registrarse</p>
            <p class="message">Crea un nuevo usuario</p>
            <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Nombre</span>
                </label>
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Apellidos</span>
                </label>
            </div>  
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>Email</span>
            </label> 
                
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Contraseña</span>
            </label>
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Confirmar Contraseña</span>
            </label>
            <button class="submit">Crear Cuenta</button>
            <p class="signin">Ya tienes una cuenta creada? <a href="/login">Iniciar Sesion</a> </p>
</form>