/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/*SE APLICA EL '!IMPORTANT' PARA QUE PISE LAS IMPORTACIONES DE PRIMENG*/

/*CAMBIA EL COLOR DE FONDO DE LA NAVBAR*/
.p-menubar{
    background-color: rgb(0, 0, 0) !important;
    
}

/*CAMBIA EL COLOR DEL TEXTO DEL MENU*/
.p-menuitem-text {
    color: var(--purple-600) !important;
    
    
}

/*CAMBIA EL COLOR DE LA LISTA DESPLEGABLE Y EL TEXTO*/
.p-submenu-list{   
    background-color: black !important;
    border-radius: 4% !important;
    height: 210% !important;
}
